{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "2.0.0rc2"}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.8.6"}},
        {mochijson3, ".*", {git, "git://github.com/tophitpoker/mochijson3.git",
            "1a1c913ac80bb45d3de5fbd74d21e96c45e9e844"}}
        ]}.

{erl_opts, [debug_info, warn_shadow_vars, warn_obsolete_guard,
            warn_unused_import, 
            {parse_transform, lager_transform}]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
