{deps, [
        {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "HEAD"}}},
	{'mochijson3', ".*", {git, "git://github.com/tophitpoker/mochijson3.git", {tag, "HEAD"}}}
        ]}.

{erl_opts, [debug_info, warn_shadow_vars, warn_obsolete_guard,
            warn_unused_import, 
            {parse_transform, lager_transform}]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
